html, body{
    height: 100%;
    width: 100%;
}

h1{
    font-size: 50px;
    font-weight: 900;
    background-image: url(indian-flag.jpg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}